@use 'common';
@use 'pages-style';

.footer {
  &_main {
    @include common.flex-item-align-center;

    width: 100vw;
  }

  > p {
    width: 90vw;
    
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.75rem;

    letter-spacing: 1px;
    word-spacing: 5px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    margin: 25px 0px 15px;
    padding: 0;
  }
}
