@use "sass:color";
@use 'common';

@use 'pages-style' with (
  $-container-page-name: "#container-page",
);

#container-sections {

  display: flex;

  @include common.flex-column;

  /* Desktop */
  @include common.media-screen(desktop) {
    @include common.flex-row-nw;
  }

  align-items: center;
  justify-content: space-evenly;

  > div {
    display: flex;
    @include common.flex-column;
  }
}

.posts-section {
  max-width: 90vw;

  margin: 25px 0;
  padding: 0 15px;
  
  @include common.box-borderbox;
  
  border: 2px solid color.adjust(pages-style.get-color("border"), $blackness: 25%);
  border-radius: 20px;
  
  /* Desktop */
  @include common.media-screen(desktop) {
    max-width: 45vw;
  }

  > h1 {
    margin: 1rem 0 0.5rem 0;

    text-align: center;
    font-family: "Brush Script MT", cursive, serif;
    font-size: 2rem;
    font-style: oblique;

    color: pages-style.get-color("header-main");
  }

  p {
    text-align: justify;
  }
}