<header class="site-top-bar">
  <div class="top-bar--container" id="top-bar">
    <button class="top-bar-btn" id="btn-toggle-menu">
      <i class="fas fa-bars"></i>
    </button>
    <div class="top-bar-separator"></div>
    <div class="top-bar-logo">
        <a href="/">
          <p>{{ site.title }}</p>
          <img 
            class="logo"
            src="{{ site.logo-path }}"
            alt="Logo"
            loading="eager">
        </a>
      </div>
    <div class="top-bar-separator"></div>
  </div>
</header>