@use 'sass:color';
@use 'sass:math';

@use 'common';
@use 'pages-style' with (
    $-container-page-name: "#container-page",
);

$content-width: 90vw;
$content-right-left-margin: math.div(100vw - $content-width, 2);

@use 'ids' with (
    $mobile-left-right-margin:  calc($content-right-left-margin + 1rem),
    $desktop-left-right-margin: calc($content-right-left-margin + 1rem)
);

%textdefaults {
    width: $content-width;
    padding: 0;
    margin: 0.2rem $content-right-left-margin;

    color: pages-style.get-color("text");
    text-align: left;
    text-decoration: none;
    text-indent: 0.5rem;
    font-size: 1rem;
    font-family: Georgia, serif;
}

#post-title {
    text-align: center;
}

#toc {
    width: -moz-fit-content;
    width: fit-content;

    margin: 1rem auto;
    padding: 1rem 0;
    padding-right: $content-right-left-margin;

    border: 1px solid pages-style.get-color("border");
    border-radius: 8px;    
}

code {
    max-width: calc($content-width - 10px);
    min-width: calc($content-width - 10px);

    margin: 1rem 5vw;
    padding: 1rem 0 1rem 5px;
  
    display: block;
  
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    font-size: 0.8rem;
    font-family: monospace, "Courier New";
  
    overflow-x: auto;
    white-space: pre;
  
    border: 0;
    border-left: 5px solid pages-style.get-color("border-code");
    background-color: pages-style.get-color("background-code-box");
  
    a {
      line-height: 1rem;
    }
    pre {
      margin: 0;
      font-family: inherit;
      white-space: inherit;
    }
    
    // Line-number cell. Class name set in _config.yml
    .rouge-gutter {
      margin:0;
      padding: 0;
      padding-left: 2px;
      padding-right: 0.5rem;
      color: color.adjust(pages-style.get-color("text"), $blackness: 35%);
    }
}
  

p {
    @extend %textdefaults;

    /* Inline-code */
    code {
        width: auto;
        min-width: unset;
        
        margin: 0;
        padding: 0px 3px;

        display: inline-flex;

        // /* Desktop */
        // @include common.media-screen(desktop) {
        //     display: inline;
        // }

        background-color: color.adjust(
            pages-style.get-color("background-code-box"),
            $blackness: 5%
        );
        text-decoration: none;
        font-size: 0.9rem;
        font-family: monospace, "Courier New";

        border: 1px solid color.adjust(
                            pages-style.get-color("background-code-box"),
                            $lightness: 5%
        );
        line-height: 1.7;
    
        overflow-wrap: break-word;
    }

    > a {
        display: inline;
        width: 0;
        margin: 0;
        padding: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5rem 5vw;
    padding: 0 2rem;

    color: pages-style.get-color("text");

    a {
        margin: unset; // TOC creates links inside headers
    }
}

a {
    max-width: $content-width;

    margin: 0.2rem calc(5vw - 2*0.2rem);
  
    text-decoration: underline;
    font-size: 1rem;
  
    cursor: pointer;
}

ol, ul {
    $sub-item-margin: 0 1.5rem;

    width: auto;
    max-width: $content-width;
    padding: 0;
    margin: 0.3rem $content-right-left-margin;

    ul {
        margin: $sub-item-margin;
        margin-right: 0;
        padding: 0;

        li {
            margin: $sub-item-margin;
            margin-right: 0;
            padding: 0;
        }
    }

    li {
        @extend %textdefaults;

        width: auto;
        margin: 0 2rem;
        margin-right: 0;

        /* Desktop */
        @include common.media-screen(desktop) {
            margin: 0 3rem;
            margin-right: 0;
        }

        text-indent: 0;

        p {
            margin: 0;
        }
        a {
            margin: 0;
        }
    }
}

blockquote {
    @extend %textdefaults;

    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    
    border: 2px solid pages-style.get-color("blockquote-border");
    border-radius: 10px;
    
    p {
        width: auto;
        margin: 0.75rem 1rem;

        font-style: oblique;
        line-height: 1.5rem;
        word-spacing: 0.05rem;

        /* Desktop */
        @include common.media-screen(desktop) {
            margin: 0.75rem 1.5rem;

            line-height: 1.5rem;
            word-spacing: 0.05rem;
        }
    }
}

img {
    max-width: $content-width;
    height: auto;
    
    display: block;
    margin: 1rem auto;
}

// List of footnes
.footnotes {
    @extend %textdefaults;

    margin-top: 2rem;
}