/* Up to 599px is mobile, from 600px is tablet */
/* From 600px to 1023px is tablet; from 1024px is desktop */
/* From 1800px onward is a big desktop */
#container-page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

header, footer {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

:root {
  --page-font-size: 12pt;
}

html {
  font-size: var(--page-font-size, 12pt);
  font-family: Georgia, serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #03081a;
  color: #cfcfcf;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.btn {
  margin: 0;
  padding: 10px 0;
  vertical-align: middle;
  overflow: hidden;
  background-color: #03081a;
  border: 2px solid #a3440d;
  border-radius: 10px;
  color: #cfcfcf;
  font-size: 1.25rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.btn:focus:not(.focus-visible) {
  outline: none;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
  background-color: #03081a;
  border: 2px solid #a3440d;
  color: #cfcfcf;
}
.btn:hover {
  background-color: #963f0d;
  border-color: #ea6213;
}
.btn:active {
  background-color: #963f0d;
  border-color: #ea6213;
}

.container-menu {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  position: fixed;
  overflow: auto;
  top: 0;
  left: -100vw;
  border-radius: 0;
  transition-property: left;
  transition-duration: 2s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  /* Desktop */
}
@media screen and (min-width: 1024px) and (max-width: 1799px) {
  .container-menu {
    border-radius: 0 10px 10px 0;
    transition-duration: 2s;
    box-shadow: 1px 5px 20px -5px #4a4a4a;
  }
}
@media screen and (min-width: 1800px) {
  .container-menu {
    border-radius: 0 10px 10px 0;
    transition-duration: 2s;
    box-shadow: 1px 5px 20px -5px #4a4a4a;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1799px) {
  .container-menu {
    max-width: 40vw;
    left: -40vw;
  }
}
@media screen and (min-width: 1800px) {
  .container-menu {
    max-width: 30vw;
    left: -30vw;
  }
}

.flex-separator {
  flex-grow: 9;
}

.code {
  width: 90vw;
  margin: 1em 5vw;
  padding: 1em 0 1em 5px;
  color: #cfcfcf;
  text-align: left;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: monospace, "Courier New";
  overflow-x: auto;
  white-space: nowrap;
  border: 0;
  border-left: 5px solid #0c2a05;
  background-color: #131727;
}

p {
  width: 90vw;
  padding: 0;
  margin: 0.2rem 5vw;
  color: #cfcfcf;
  text-align: justify;
  text-decoration: none;
  font-size: 1rem;
  font-family: Georgia, serif;
}
p .inline-code {
  background-color: #13141a;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: monospace, "Courier New";
  border: 1px solid #1b2138;
  line-height: 1.7;
  padding: 0px 3px;
  margin: 0;
  overflow-wrap: break-word;
}
p > a {
  display: inline;
  width: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem 5vw;
  color: #cfcfcf;
}

h1 {
  color: #d06425;
}

a {
  max-width: 90vw;
  padding: 0px 0;
  margin: 0.2rem calc(5vw - 0.4rem);
  color: #479aea;
  text-align: justify;
  text-decoration: underline;
  font-size: 1rem;
  font-family: Georgia, serif;
  line-height: 1.4;
  display: inline-block;
}

.footnote {
  color: red;
  display: inline-block;
  position: relative;
}
.footnote .footnote-number {
  width: 1.25rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding-bottom: 2px;
  color: #e4e4e4;
  background-color: #186bb8;
  border-radius: 100%;
  text-align: center;
}
.footnote .footnote-text {
  width: min(50vw, 175px);
  height: auto;
  max-height: min(50vh, 125px);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 0.8rem 1rem;
  color: #cfcfcf;
  background-color: #030303;
  border: 2px solid #e7e6e6;
  border-radius: 15px 0 0 0;
  position: absolute;
  z-index: 10;
  overflow-y: auto;
  bottom: 125%;
  margin-left: calc(-1 * min(50vw, 175px) / 2);
  scrollbar-color: #5f5f5f transparent;
  scrollbar-width: thin;
}
.footnote .footnote-text::-webkit-scrollbar {
  width: 5px;
}
.footnote .footnote-text::-webkit-scrollbar-track {
  background: transparent;
}
.footnote .footnote-text::-webkit-scrollbar-thumb {
  background: #5f5f5f;
  border-radius: 50px;
}
.footnote .footnote-text::-webkit-scrollbar-thumb:hover {
  background: #dfdfdf;
}

/*# sourceMappingURL=blog-post.css.map */
